body{
    margin: 0;
    padding: 0;
    background-color: #14213d;
    height: 100%
}


/* TOPO */

nav .topo ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    background-color: #000000;
    margin-top: 0;
}

nav .topo ul li{
    list-style: none;
    
}

nav .topo ul li a{
    color: #fca311;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

nav .topo ul li a:hover{
    border-bottom: 1px solid #e5e5e5;
}

/* FORMULÁRIO */

form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

form fieldset{
  width: 50%;
  padding: 1.8rem; 
}

form fieldset legend{
    color: #fca311;
    font-size: 1.4rem;
}

form fieldset label{
    color: #e5e5e5;
    font-size: 1.2rem;
}

textarea {
    resize: none;
}

form fieldset .enviar,
form fieldset .limpar{
    padding: .8rem;
    border-radius: .2rem;
    border: none;
    background-color: #fca311;
    color: #14213d;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

form fieldset .limpar{
    margin-left: 3rem;
}

/* MAPA */

.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.mapa .mapa-titulo h2{
    color: #fca311;
    font-size: 1.8rem;
}


.mapa .mapa-local p{
    color: #e5e5e5;
    font-size: 1.2rem;
}
footer{
    height: 8vh;
    margin-top: 4rem;
    background-color: hsl(221, 51%, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  RODAPÉ  */

footer p{
    color: #e5e5e5;
}

footer p span{
    color: #ff0000;
}

footer p a{
    color: #fca311;
    text-decoration: none;
    padding: 0 .4rem;
}

footer p a:hover{
    color: #e5e5e5;
}